.main-container {
  background-color: #f5f5f5;
  min-height: 100vh;
  padding-top: 50px;
}

h1,
h2 {
  color: #343a40;
}

.lead {
  color: #6c757d;
}

.education-section {
  background-color: #fff;
  padding: 50px 0;
}
